<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a class="active" href="/">Shop</a></li>
          <li class="main-header__item">
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>My Products</h1>
      <% if(prods.length){ %>

      <ul class="book-list">
        <% for (var i = 0; i < prods.length; i++) { %>
        <li class="item-list-item">
          <div>
            <img alt="item picture" src="<%= prods[i].imageUrl %>" />
          </div>

          <div>
            <span class="item-info">Title: <%= prods[i].title %></span>
            <span class="item-info"
              >Description: <%= prods[i].description %></span
            >
          </div>
        </li>
        <% } %>
      </ul>
      <% } else{ %>

      <p>List of all the products...</p>
      <% } %>
    </main>
  </body>
</html>
