.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}

.form-control {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input, .form-control textarea {
  border: 1px solid #dbc441;
  font: inherit;
  border-radius: 2px;
}

.form-control textarea {
  width: 100%;
  max-width: 100%;
  height: 100px;
}

button {
  font: inherit;
  border: 1px solid #3e00a1;
  color: #3e00a1;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #3e00a1;
  color: white;
}
